:deep(.grid) {
    position: relative;
    width: 1100px;
    height: 100%;
    margin: 50px auto;
    display: inline-block;

    .active {
        position: absolute;
        top: 685px;
        left: 150px;
        background: url(/src/assets/img/ren.png) no-repeat;
        background-size: 100% 100%;
        width: 90px;
        height: 100px;
        margin: 15px 20px 0 20px;
        z-index: 2;
        transform: rotateY(185deg);
        transition: all 1s;
    }

    .grid-item {
        position: absolute;
        padding: 26px 10px;
        width: 140px;
        height: 140px;
        border: 3px solid #111;
        text-align: center;
        span {
            color: #fff !important;
        }

        .index {
            position: absolute;
            top: 4px;
            right: 4px;
            width: 22px;
            height: 22px;
            line-height: 22px;
            text-align: center;
            background: #b43d63;
            border-radius: 50%;
            color: #fff;
            font-style: normal;
            font-size: 14px;
        }
        div {
            color: #fff;
            font-size: 18px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }
    }
    .grid-start {
        width: 277px;
        height: 140px;
        border-radius: 5px;
        z-index: 1;
    }
    .grid-end {
        width: 180px;
        height: 180px;
        border-radius: 5px;
    }
    .grid-start,
    .grid-end {
        background: #b43d63;
        .text {
            font-family: 'DynaPuff', cursive;
            text-align: center;
            width: 180px;
            font-size: 40px;
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-shadow: 0 0px orange, 1px 1px black;
            -webkit-text-fill-color: transparent;
        }
    }
    .grid-start .text {
        top: 50%;
        left: 30%;
    }
    .grid-end {
        .text {
            text-shadow: 0 0px #ffff33, 1px 1px black;
        }
    }
}

:deep(.answer) {
    position: relative;
    font-size: 26px;
    margin-top: 10px;
    span {
        position: relative;
        color: #e4353c;
        z-index: 2;
      
    }
    i {
        position: absolute;
        background: #fff;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 0.8;
    }
}
.grid_box {
    position: absolute;
    left: 65%;
    bottom: 21%;
    z-index: 10;
}
.box_card {
    background: url('@/assets/diang.jpg') no-repeat;
    background-size: 100% 100%;
    font-size: 30px;
    text-align: left;
    padding: 18vh 18vw;
    min-height: 780px;
    color: #111;
}
