@import '../layout/theme/default-vars.scss';

@mixin merge-style(/* vertical模式下主体内容距离网页文档左侧的距离 */ $sideBarWidth) {
    .main-container {
        height: 100vh;
        min-height: 100%;
        transition: margin-left 0.28s;
        margin-left: $sideBarWidth;
        position: relative;
        background: #f0f2f5;
    }

    .sidebar-container {
        transition: width 0.28s;
        width: $sideBarWidth !important;
        height: 100%;
        position: fixed;
        font-size: 0;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1001;
        overflow: hidden;
        box-shadow: 0 0 1px #888;

        .el-menu {
            border: none;
            height: 100%;
            background-color: transparent !important;
        }

        .el-menu--collapse {
            .el-menu-item {
                padding: 0;
                padding-left: 0 !important;
                .el-tooltip__trigger {
                    padding: 0 !important;
                    text-align: center;
                }
            }
        }
    }
}

body[layout='vertical'] {
    $sideBarWidth: 200px;
    @include merge-style($sideBarWidth);

    .hideSidebar {
        .sidebar-container,
        .el-menu--collapse {
            width: 54px !important;
        }

        .main-container {
            margin-left: 54px;
        }
    }
}
