// @import '../layout/theme/default-vars.scss';

@mixin merge-style(/* vertical模式下主体内容距离网页文档左侧的距离 */ $sideBarWidth) {
    .main-container {
        height: 100vh;
        min-height: 100%;
        transition: margin-left 0.28s;
        margin-left: $sideBarWidth;
        position: relative;
    }

    .fixed-header {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 998;
        width: 100%;
        transition: width 0.28s;
    }

    .el-menu {
        border: none;
        height: 100%;
        background-color: transparent;
        flex: 1;

        .el-menu-item-group {
            .el-menu-item-group__title {
                padding: 0 20px;
            }
        }
    }

    .sidebar-container {
        transition: width 0.28s;
        width: $sideBarWidth !important;
        height: calc(100% - 132px);
        position: fixed;
        bottom: 33px;
        left: 0;
        z-index: 101;
        overflow: hidden;
        // box-shadow: 0 0 1px #666;

        .el-menu--collapse {
            .el-menu-item {
                padding: 0;
                padding-left: 0 !important;
                .el-tooltip__trigger {
                    text-align: center;
                }
            }
        }
    }

    .horizontal-header {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 80px;
        align-items: center;
        border-bottom: 1px solid var(--element-tree-line-color);

        .horizontal-header-left {
            display: flex;
            height: 100%;
            width: auto;
            align-items: center;
            cursor: pointer;
            transition: all 0.2s ease;
            padding: 5px 14px;

            .el-image,
            a {
                height: 100%;
            }
        }
    }

    .hideSidebar {
        .sidebar-container,
        .el-menu--collapse {
            width: 60px !important;
        }

        .main-container {
            margin-left: 60px;
        }
        // .fixed-header {
        //     width: calc(100% - 61px);
        // }
    }

    .sidebar-container.has-logo {
        .el-scrollbar {
            height: calc(100% - 50px);
        }
    }

    .sidebar-logo-container {
        position: relative;
        width: 210px;
        height: 59px;
        text-align: center;
        overflow: hidden;
        padding: 10px;
        display: inline-block;

        .sidebar-logo-link {
            height: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-top: 5px;
        }
    }

    .vertical-header-right {
        display: flex;
        min-width: 180px;
        height: 60px;
        align-items: center;
        color: #000000d9;
        justify-content: flex-end;

        .el-dropdown-link {
            width: 100px;
            height: 60px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            cursor: pointer;

            &:hover {
                background: #f6f6f6;
            }

            p {
                font-size: 14px;
            }

            img {
                width: 22px;
                height: 22px;
                border-radius: 50%;
                background: var(--el-color-primary);
            }
        }
        .el-icon-setting {
            cursor: pointer;
            padding: 0 10px;
            height: 100%;
            box-sizing: content-box;
            &:hover {
                background: #f6f6f6;
            }
        }
        .logout {
            max-width: 120px;

            ::v-deep(.el-dropdown-menu__item) {
                min-width: 100%;
                display: inline-flex;
                flex-wrap: wrap;
            }
        }
        .el-icon {
            font-size: 18px;
        }
    }
}

body[layout='vertical'] {
    $sideBarWidth: 210px;
    @include merge-style($sideBarWidth);
}

body[layout='horizontal'] {
    $sideBarWidth: 0;
    @include merge-style($sideBarWidth);

    .fixed-header {
        width: 100%;
        transition: none !important;
    }

    .vertical-header-right,
    .hamburger-container,
    .el-dropdown-link {
        color: var(--el-color-primary);
    }

    .hideSidebar {
        .main-container {
            margin-left: 0;
        }
        .fixed-header {
            width: 100%;
        }
    }

    .app-main {
        padding-top: 119px;
        padding-bottom: 32px;
    }

    .parent-iframe {
        .app-main {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .el-popper.sa-popper-menu {
        margin-left: -4px !important;
        .el-menu--horizontal {
            &::before {
                position: absolute;
                top: -5px;
                left: 50%;
                margin-left: -5px;
                width: 10px;
                height: 10px;
                z-index: -1;
                content: ' ';
                transform: rotate(45deg);
                border: 1px solid #ddd;
                border-bottom-color: transparent !important;
                border-right-color: transparent !important;
                border-top-left-radius: 2px;

                background: #fff;
            }
            .el-menu--popup {
                min-width: 180px;
            }
            .el-menu {
                box-shadow: none;
                .el-menu-item,
                .el-sub-menu__title {
                    justify-content: center;
                }
            }
        }
        .el-menu {
            padding: 10px;
        }

        .el-menu-item-group {
            .is-active {
                background: var(--el-color-primary) !important;
                color: #fff !important;
                border-radius: 5px;
            }
        }
    }

    .el-sub-menu .el-popper.sa-popper-menu .el-menu--horizontal {
        &::before {
            display: none;
        }
    }
}

body[layout='mix'] {
    $sideBarWidth: 210px;
    @include merge-style($sideBarWidth);

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .vertical-header-right,
    .hamburger-container,
    .el-dropdown-link {
        color: var(--el-color-primary);
    }
}
